* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(Patrik\ Schnell\ Gitarrenunterricht.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #101111f8;
}

h1{
    cursor: default;
    text-shadow: 2px 2px 2px rgba(24, 27, 22, 0.858);
    color: rgb(104, 149, 191);
    font-size: 4rem;
    text-align: center;
    font-family: 'Cinzel', serif;
    padding-top: 1em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 100vh;
    overflow: hidden;
    padding: 1em;
}

.container {
    width: 90%;
    height: 65%;
    perspective: 1200px;
    justify-self: center;
    align-self: center;
}

.card {
    height: 100%;
    width: 100%;
    text-align: center;
    color: antiquewhite;
    text-shadow:3px 3px 2px #101111f8;
    position: relative;
    transition: transform 1200ms;
    transform-style: preserve-3d;
    font-family: 'Cinzel', serif;
}

h2{
    padding:0.5em;
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px  2px rgba(50, 50, 50, 0.75);
    position: absolute;
    backface-visibility: hidden;
    font-family: 'Cinzel', serif;
}

.back a{
    text-decoration: none;
    color: antiquewhite;
}
.back a:hover{
    color: rgba(250, 235, 215, 0.502);
    transition: 0.3s;
}

.front {
    background-image: url(arsekicker.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #131617f8;
}

#contact-pic{
    background-image: url(Bildschirmfoto\ vom\ 2024-01-29\ 11-47-00.png);
}

#unterricht-pic{
    background-image: url(unterricht.png);
}

#preise-pic{
    background-image: url(preise.png);
}


.back {
    background-color: #131617f8;
    transform: rotateY(180deg);
    text-shadow:3px 3px 2px #747c7c85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0 1em;
}

.back p{
    font-size: 1.2em;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 2em;
    padding: 2em 0;
}

.footer-text{
    font-size: 0.8rem;
    color: rgba(104, 149, 191, 0.455);
}

@media (max-width: 1550px){
    h1{
        font-size: 2.5rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        height: 100vh;
        overflow: hidden;
        padding: 1em;
    }
    .back p{
        font-size: 0.9em;
    }
}

@media (max-width: 1132px) {
    h1{
        font-size: 2rem;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        height: 150vh;
        overflow: hidden;
        padding: 1em;
    }
    .card{
        height: 15em;
    }
}

@media (max-width: 700px) {
    .back p{
        font-size: 0.8em;
    }
    h1{
        font-size: 1.3rem;
        padding: 0 2em;
    }
    h2{
        font-size: 1rem;
    }
    .back p{
        font-size: 0.6em;
    }
    h3{
        font-size: 1rem;
    }
    .grid-container{
        height: 170vh;
    }
}

@media (max-width: 400px) {
    h1{
        font-size: 0.9rem;
    }
    h2{
        font-size: 0.7rem;
    }
}